let mapleader = " "
imap jj <Esc>
set clipboard=unnamed           " Yank to system clipboard

nnoremap & :&&<CR>
xnoremap & :&&<CR>

" map some common Idea actions
map <Leader>l :action Run <CR>
map <Leader>s :action RunClass <CR>
map <Leader>g :action Annotate <CR>
map <Leader>b :action ToggleLineBreakpoint<CR>
map <Leader>d :action Debug<CR>

" quicker window movement
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
" Rotating splits is the only action that has a direct correlation in Idea
nnoremap <C-w>r :action MoveEditorToOppositeTabGroup<CR>

" some useful commands
map <Leader>z :'<,'>sort<CR>

map <Leader>in :action Inline<CR>
map <Leader>gd :action GotoImplementation<CR>
" hacks needed for bug in IdeaVim https://youtrack.jetbrains.com/issue/VIM-862k
nnoremap <leader>em :action ExtractMethod<cr>
vnoremap <leader>em :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action ExtractMethod<cr>

nnoremap <leader>ev :action IntroduceVariable<cr>
vnoremap <leader>ev :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action IntroduceVariable<cr>

nnoremap <leader>ec :action IntroduceConstant<cr>
vnoremap <leader>ec :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action IntroduceConstant<cr>

nnoremap <leader>ef :action IntroduceField<cr>
vnoremap <leader>ef :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action IntroduceField<cr>

nnoremap <leader>ep :action IntroduceParameter<cr>
vnoremap <leader>ep :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action IntroduceParameter<cr>

" some useful plugins
set surround
set showmode
