let g:elm_setup_keybindings = 0
let g:elm_syntastic_show_warnings = 1
let g:elm_make_show_warnings = 1
let g:elm_detailed_complete = 1

au FileType elm nmap <buffer> <leader>em <Plug>(elm-make)
au FileType elm nmap <buffer> <leader>eb <Plug>(elm-make-main)
au FileType elm nmap <buffer> <leader>et <Plug>(elm-test)
au FileType elm nmap <buffer> <leader>er <Plug>(elm-repl)
au FileType elm nmap <buffer> <leader>ed <Plug>(elm-show-docs)
au FileType elm nmap <buffer> <leader>ew <Plug>(elm-browse-docs)
au FileType elm nmap <leader>ee <Plug>(elm-error-detail)
au FileType elm nmap <leader>ef :ElmFormat<CR>
