let g:neocomplete#enable_at_startup=0

" Run NeoMake on read and write operations
autocmd! BufReadPost,BufWritePost * Neomake

" Disable syntastic for filetypes that neomake
" had makers for, but leave acitve for checkers
" that are only in syntastic.
let g:syntastic_mode_map = {
  \ "mode": "passive",
  \ "active_filetypes": ['purescript'],
  \ "passive_filetypes": [] }

let g:neomake_serialize = 1
let g:neomake_serialize_abort_on_error = 1

let home = $HOME
let g:python_host_prog = home . "/.pyenv/versions/neovim2/bin/python"
let g:python3_host_prog = home . "/.pyenv/versions/neovim3/bin/python"

let g:deoplete#enable_at_startup = 1
if !exists('g:deoplete#omni#input_patterns')
  let g:deoplete#omni#input_patterns = {}
endif
" let g:deoplete#disable_auto_complete = 1
autocmd InsertLeave,CompleteDone * if pumvisible() == 0 | pclose | endif


map <leader>= :Neoformat<CR>
