" tern
if exists('g:plugs["tern_for_vim"]')
  let g:tern_show_argument_hints = 'on_hold'
  let g:tern_show_signature_in_pum = 1
  let g:tern#command = ['tern']
  let g:tern#arguments = ['--persistent']
  autocmd FileType javascript setlocal omnifunc=tern#Complete
endif

" neovim
if has('nvim')
  let g:neomake_javascript_enabled_makers = ['flow', 'eslint']
  let g:neoformat_enable_javascript= ['prettier-eslint']
  let g:neoformat_enable_json= ['jq']
endif

let g:javascript_plugin_flow = 1
