if has('nvim')
  let g:neocomplete#enable_at_startup=0
  let g:deoplete#enable_at_startup = 1

  let g:deoplete#omni_patterns = {}

  let g:deoplete#omni_patterns.elm = '\.'

  " autocomplete on just about any character
  let g:deoplete#omni_patterns.go = '[a-zA-Z_\.]{3,}'

  if !exists('g:deoplete#omni#input_patterns')
    let g:deoplete#omni#input_patterns = {}
  endif

  let g:deoplete#omni#functions = {}
  let g:deoplete#omni#functions.javascript = [
        \ 'tern#Complete',
        \ 'jspc#omni' ]

  let g:deoplete#sources = {}
  let g:deoplete#sources['javascript.jsx'] = ['file', 'ultisnips', 'ternjs']

  " let g:deoplete#disable_auto_complete = 1
  autocmd InsertLeave,CompleteDone * if pumvisible() == 0 | pclose | endif
endif
