let g:JavaComplete_ImportSortType = 'packageName'
let g:JavaComplete_UsePython3 = 1

if has('nvim')
    let s:editor_root=expand("$XDG_CONFIG_HOME/nvim")
else
    let s:editor_root=expand("$HOME/.vim")
endif

let s:style_path = s:editor_root . '/style/java'

let g:neoformat_java_custom_style= {
      \ 'exe': 'astyle',
      \ 'args': ['--mode=java', '--options=' . s:style_path],
      \ 'stdin': 1,
      \ }

let g:neoformat_enabled_java = ['custom_style']
